# Ignore all files and directories
*

# Except for the following:
!*/
!*.*

# Ignore specific files and directories
root.cow*
*.out
*.aux
*.bbl
*.blg
*.log
*.gz
*.fls
*.fdb_latexmk
*.img
*.iso
*.toc
openwrt/
references/crypto/*
references/thesis-examples/*
web-mmse/openwrt-builder/output/*
*references/
target/

# Allow maven wrapper jar file
!.mvn/wrapper/maven-wrapper.jar

# Allow main and test source files in target directories
!**/src/main/**/target/
!**/src/test/**/target/

# IDE-specific ignores
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
